
<nav class="navbar fixed-top navbar-expand-lg bg-transparent navbar1 ">

  <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav h5">
        <li class="nav-item">  
        <%= link_to 'NEXT', index_path, class: "nav-link"%>
        </li>
  </div>

  <div class="navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav h5 ">
      <li class="nav-item nav-item1">
        <%= link_to 'ABOUT', about_path, class: "nav-link"%>
      </li>
      <li class="nav-item nav-item1">
        <%= link_to 'ACTIVITIES', activities_path, class: "nav-link"%>
      </li>
      <li class="nav-item nav-item1">
        <%= link_to 'RECRUIT', recruit_path, class: "nav-link"%>
      </li>
      <li class="nav-item nav-item1">
        <%= link_to 'MEMBERS', members_path, class: "nav-link"%>
      </li>
        <% changedPath = (user_signed_in?) ? posts_path : new_user_session_path %>
      <li class="nav-item nav-item1">
        <%= link_to 'MEMBER LOUNGE', changedPath, class: "nav-link"%>
      </li>
      <li class="nav-item nav-item1">
       <%= link_to image_tag("phonelogo.png", alt: "contact"), contact_path, class: "nav-link" %>
      </li>

      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link"%>
      </li>
      <% end%>
    </ul>
  </div>
</nav>