
<nav class="navbar fixed-top navbar-expand-lg navbar-blue bg-transparent ">

  <div class="navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav h3 ">
      <li class="nav-item">  
      <%= link_to 'Index', index_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'About', about_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Activities', activities_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Recruit', recruit_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Contact', contact_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Members', members_path, class: "nav-link"%>
      </li>
        <% changedPath = (user_signed_in?) ? posts_path : new_user_session_path %>
      <li class="nav-item">
        <%= link_to 'Member Lounge', changedPath, class: "nav-link"%>
      </li>

      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link"%>
      </li>
      <% end%>
    </ul>
  </div>
</nav>