<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js">
</script>
<div class="swiper-container" style="color:white" >
    <div class="swiper-wrapper">
        <!--slide1 -->
        <div class="swiper-slide activities1">
            <!--div 멋사 성장법칙 제목 --> 
            <div class="d-flex flex-column align-items-center", style="margin-top:160px; margin-bottom:50px;">
            <div class="mb-5 border-bottom border-secondary w-30">
            <h3 style="font-size:35pt"><strong>Session And  Project</strong></h3>
            </div>
            </div>
            <!--div /멋사 성장법칙 제목 --> 


            <!-- div Session and Project -->
            <div class="d-flex d-flex justify-content-center">   

                <div class="flip-container", ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                        <%=image_tag "plz4.png", height:"200", width:"200"%>
                        </div>
                        <div class="back">
                        <span class="text">HTML, CSS, ROR, JS를 포함한 웹 개발자로서의 기본 역량 증진</span>
                        </div>
                    </div>
                </div>

                <div style="margin-top:15px; margin-right:95px; margin-left:95px;">
                <h1 style="font-size:100pt">&<h1>
                </div>

                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                        <%=image_tag "plz5.png", height:"200", width:"200"%>
                        </div>
                        <div class="back">
                        <span class="text">실전 프로젝트 도전을 통한 역량확인 및 실전 경험</span>
                        </div>
                    </div>
                </div>

            </div>
           
            <!-- /div Session and Project -->
            <!-- div Session-Project 설명 -->
            <div class="d-flex flex-column align-items-center", style="margin-top:30px; margin-bottom:50px">
            <div style="display:table; ">
            <span style="display:table-cell; text-align:center; vertical-align:middle; font-size:15pt">역량향상, 도전, 실패, 보완, 그리고 재도전.<br>어쩌면 끝나지 않을 성장과정을 시작합니다.<br>성장을 거치며 얻게 될 영광의 순간들은 덤입니다.<br>NEXT는 끊임 없는 실패와 경험이<br> 배움의 가장 빠른 방법이라고 믿습니다.</span>
            </div>
            </div>
            <!-- /div Session-Project 설명-->
        </div>
            
        
        <div class="swiper-slide activities2">

            
            <div class ="container">
                <!-- 정규 세션 -->   
                <div class="d-flex flex-column align-items-center", style="margin-top:150px; margin-bottom:50px">
                    <div class="mb-5 border-bottom border-secondary w-30">
                    <h3 style="font-size:30pt"><strong>Standard Session</strong></h3>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center", style="margin-top:20px; margin-bottom:50px">
                    <div style="display:table; ">
                        <span style="display:table-cell; text-align:center; vertical-align:middle; font-size:15pt">매주 화, 목 3시간씩 진행되는 정규세션<br><br>기본적인 개발관련 배경지식과 웹 프로그래머로써 필요한<br><br> 언어 및 프레임워크에 대한 수업을 진행합니다   </span>
                    </div>
                </div>
                <div class="d-flex d-flex justify-content-around">   
                    <div class="flip-container", ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                            <%=image_tag "html.png", height:"200", width:"200"%>
                            </div>
                            <div class="back">
                            <span class="text">쉽지만 중요한 웹페이지의 기본, HTML</span>
                            </div>
                        </div>
                    </div>
                    <div class="flip-container", ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                            <%=image_tag "css.png", height:"200", width:"150"%>
                            </div>
                            <div class="back">
                            <span class="text">웹페이지를 아름답게 하는, CSS</span>
                            </div>
                        </div>
                    </div>
                    <div class="flip-container", ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                            <%=image_tag "ror.png", height:"220", width:"170"%>
                            </div>
                            <div class="back">
                            <span class="text">쉽고 빠른 프로토타이핑을 위하여, ROR</span>
                            </div>
                        </div>
                    </div>                
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                            <%=image_tag "js.png", height:"220", width:"220"%>
                            </div>
                            <div class="back">
                            <span class="text">동적 페이지를 만들어주는, JS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!--  /정규 세션-->
        </div>
        <div class="swiper-slide activities3">
            <div class ="container">
                <!-- 특별 세션 -->   
                <div class="d-flex flex-column align-items-center", style="margin-top:160px; margin-bottom:50px">
                <div class="mb-5 border-bottom border-secondary w-30">
                <h3 style="font-size:30pt"><strong>Special Session</strong></h3>
                </div>
                </div>
                <div class="d-flex flex-column align-items-center", style="margin-top:20px; margin-bottom:50px">
                <div style="display:table; ">
                <span style="display:table-cell; text-align:center; vertical-align:middle; font-size:15pt">NEXT는 하나의 길만을 제공하지 않습니다<br><br>개발, 창업, 프로젝트 등 다양한 경험을 가진 멘티들의 주도로<br><br>NEXT 인원 각각에게 가장 필요한 특별 세션을 진행합니다.</span>
                </div>
                </div>
                <div class="d-flex d-flex justify-content-around" style="margin-bottom:100px;" >   
                    <div class="flip-container", ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                            <%=image_tag "program.png", height:"200", width:"200"%>
                            </div>
                            <div class="back">
                            <span class="text">개발자 트랙</span>
                            </div>
                        </div>
                    </div>
                    <div class="flip-container", ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                            <%=image_tag "money.png", height:"200", width:"200"%>
                            </div>
                            <div class="back">
                            <span class="text">창업 트랙</span>
                            </div>
                        </div>
                    </div>
                    <div class="flip-container", ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                            <%=image_tag "gogo.png", height:"200", width:"200"%>
                            </div>
                            <div class="back">
                            <span class="text">프로젝트 트랙</span>
                            </div>
                        </div>
                    </div>                
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                            <%=image_tag "python.jpg", height:"200", width:"200"%>
                            </div>
                            <div class="back">
                            <span class="text">프로그래밍 언어<br>수평적 확장</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  /특별 세션-->

            </div>
        </div>    
            <!-- /div Session-->
                
            <!-- div Project-->
        <div class="swiper-slide activities4">    
            <div class="container" style="margin-top:80px">  
                <div class="d-flex d-flex justify-content-around">
                    <div class="project"> 
                    <%=image_tag "hackfuck.jpg", style:"width:500px; height:250px"%>
                    </div>
                    <div class="project" > 
                        <div class ="inproject" style="color: white; text-align:left; display:table">
                            <span style="display:table-cell; vertical-align:middle;"><font size="25pt" class="border-bottom border-secondary"><strong>Hackerthon</strong></font><br><br>정해진 시간 내에 프로그래밍을 완료해야 하는 해커톤은<br> 학회원의 역량을 실전에 적용할 수 있는 좋은 기회입니다. <br>중앙 해커톤뿐 아니라 자체적으로도 해커톤을 개최하고, <br>외부 대회의 참여도 독려하고 있습니다. </span>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex d-flex justify-content-around">
                    <div class="project">
                        <div class="inproject2 mb-5 w-30" style="color: white; text-align:right; display:table" > 
                            <span style="display:table-cell; vertical-align:middle;"><font class="border-bottom border-secondary" size="25pt"><strong>Ideathon</strong></font><br><br>창업자 및 창업준비생이 팀으로써 함께 하여<br> 자신의 아이디어를 비즈니스로 디벨롭합니다. <br>창업자의 경우 창업에 필요한 인원을 모으고, <br>사업 아이디어에 관한 피드백을 얻을 수 있는 기회입니다.<br> 또한 창업준비생들을 위한 네트워킹을 제공합니다.</span>
                        </div>
                    </div>  
                    <div class="project"> 
                    <%=image_tag "idea.jpg", style:"width:500px; height:250px"%>
                    </div>
                </div>
            </div>
        </div>
           
            <!-- /div Session&Project 왔다갔다 -->
        
    </div>
    <!-- Add Pagination -->
  <div class="swiper-pagination" style="position:fixed;"></div>
</div>            
            