
<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js">
</script>

<div class="bg-dark members">
    <div class="d-flex flex-column", style=" margin-bottom:10px; margin-left:170px;">
      <div style="margin-top:100px;">
          <h2 class="text-white">NE<span style="color:orange;">X</span>T MEMBERS</h2>
      </div>
      <div class="mt-2" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-warning text-white btn6" style= "padding-top: 6px;">6th</button>
        <button type="button" class="btn btn-outline-warning text-white btn5" style= "padding-top: 6px;">5th</button>
        <button type="button" class="btn btn-outline-warning text-white btn5" style= "padding-top: 6px;">4th</button>
        <button type="button" class="btn btn-outline-warning text-white btn5" style= "padding-top: 6px;">3rd</button>      
        <button type="button" class="btn btn-outline-warning text-white btn5" style= "padding-top: 6px;">2nd</button>      
        <button type="button" class="btn btn-outline-warning text-white btn5" style= "padding-top: 6px;">1st</button>      
      </div>
    </div>


<div class="d-flex flex-column align-items-center justify-content-around contact">
    <% 10.times do %>
    <div class="d-flex justify-content-around sixth hide">
        <div class="d-flex flex-column justify-content-around tag">
            <%= image_tag 'temp_logo5.jpg', class:"member_img"%>
            <div class="d-flex flex-column memberText">
                <div class="memberName font-weight-bold text-warning">
                오상우
                </div>
                <div class="memberExplain text-white">
                 나는 오상우이다
                </div>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-around tag">
            <%= image_tag 'temp_logo6.jpg', class:"member_img" %>
            <div class="d-flex flex-column memberText">
                <div class="memberName font-weight-bold text-warning">
                이지현
                </div>
                <div class="memberExplain text-white">
                 안녕안녕안녀어어엉
                </div>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-around tag">
            <%= image_tag 'temp_logo7.jpg', class:"member_img" %>
            <div class="d-flex flex-column memberText">
                <div class="memberName font-weight-bold text-warning">
                유현재
                </div>
                <div class="memberExplain text-white">
                 졸려요오오
                </div>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-around tag">
            <%= image_tag 'Bae.jpg', class:"member_img" %>
            <div class="d-flex flex-column memberText">
                <div class="memberName font-weight-bold text-warning">
                 배영현
                </div>
                <div class="memberExplain text-white">
                 갸아아악!!
                </div>
            </div>
        </div>
        
    </div>
    <% end %>
    <% 8.times do %>
    <div class="d-flex justify-content-around fifth">
        <div class="d-flex flex-column justify-content-around tag">
            <%= image_tag 'temp_logo3.jpg', class:"member_img"%>
            <div class="d-flex flex-column memberText">
                <div class="memberName font-weight-bold text-warning">
                심건우
                </div>
                <div class="memberExplain text-white">
                 심건우입니다
                </div>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-around tag">
            <%= image_tag 'temp_logo2.jpg', class:"member_img" %>
            <div class="d-flex flex-column memberText">
                <div class="memberName font-weight-bold text-warning">
                안운장
                </div>
                <div class="memberExplain text-white">
                 덤벼라 세상아
                </div>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-around tag">
            <%= image_tag 'taeYeop.jpg', class:"member_img" %>
            <div class="d-flex flex-column memberText">
                <div class="memberName font-weight-bold text-warning">
                김태엽
                </div>
                <div class="memberExplain text-white">
                오늘 생일입니다!
                </div>
            </div>
        </div>
        
        <div class="d-flex flex-column justify-content-around tag">
            <%= image_tag 'temp_logo4.jpg', class:"member_img" %>
            <div class="d-flex flex-column memberText">
                <div class="memberName font-weight-bold text-warning">
                이태훈
                </div>
                <div class="memberExplain text-white">
                 이태훈입니다
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>


<script>
    $("button.btn5").click((event) => {
        $("h1").text("5th NEXT")
        $("div.sixth").attr("class","d-flex justify-content-around sixth hide").parent().find("div.fifth").removeAttr("class").attr("class", "d-flex justify-content-around fifth")
    });
    $("button.btn6").click((event) => {
        $("h1").text("6th NEXT")
        $("div.fifth").attr("class","d-flex justify-content-around fifth hide").parent().find("div.sixth").removeAttr("class").attr("class", "d-flex justify-content-around sixth")
    });
    $(".card").flip({
  axis: 'y',
  trigger: 'hover',
  autoSize: false,
  speed: 800
});


</script>
</div>