<div class= "d-flex flex-column align-items-center py-5 contact" style="height: 1000px;">
<p id="notice"><%= notice %></p>
<h1 class="text-white">L O U N G E</h1>

<div>
  <table class="table table-borderless table-hover mt-5" style="width: 500px;">
    <thead>
      <tr class="border-bottom">
        <th class="text-white" scope="col">Title</th>
        <th class="text-white">Name</th>
        <th class="text-white">Comments</th>
      </tr>
    </thead>

    <tbody class="border-bottom text-secondary">
      <% @notices.each do |notice| %>
        <tr>
          <td style="width:100%"><%= link_to notice.title, notice, class:"text-warning" %></td>
          <td><%= notice.user.name %></td>
          <td><%= notice.comments.count %></td>
        </tr>
      <% end %>
    </tbody>  
    <tbody class="text-secondary">
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, post, class:"text-white" %></td>
          <td><%= post.user.name %></td>
          <td><%= post.comments.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="mt-4 mb-3">
<%= form_tag search_path, method: :get do %>
  <%= select_tag("search[select]", options_for_select([["제목","title"],["작성자 이름","name"],["작성자 이메일","email"]],"title" )) %>
  <%= text_field_tag "search[q]","",style:"opacity:0.4;border-radius:7px" %>
  <%= submit_tag("SEARCH", class:"btn btn-outline-warning text-white", style: "padding-top: 6px;") %>
<% end %>
</div>


<div><%= link_to('WRITE', new_post_path, class: "btn btn-outline-warning text-white", style: "padding-top: 6px;") %> 
<%= link_to('NOTICE', new_post_notice_path, class: "btn btn-outline-warning text-white", style: "padding-top: 6px;")%>
<% if current_user.try(:admin?) %>
  <%= link_to('ADMIN', admin_root_path, class: "btn btn-outline-warning text-white", style: "padding-top: 6px;" )%>
<% end %></div>
</div>

