<div class= "d-flex flex-column align-items-center py-5">
<p id="notice"><%= notice %></p>
  <p><strong>제목:</strong>
  <%= @post.title %>

  <strong>작성자:</strong>
  <%= @post.user.name %>
</p>
<hr>
<br>
<p>
  <%= @post.content %>
</p>

<table class="table">
<thead>
    <tr>
      <th scope="col">댓글</th>
      <th>댓글 작성자</th>
      <th>액션</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody>
<tr>
  <% @post.comments.each do |comment| %>
    <td><%= comment.content %></td>
    <td><%= comment.user.name %></td>
    <td><%= link_to "삭제", post_comment_path(@post.id, comment.id), method: :delete %></td>
    <br>
    </tr>
  <% end %>
</tbody>
</table>

<div>
  <%= form_for Comment.new, url: post_comments_path(@post.id) do |f|%>
    <%= f.label "댓글"%>
    <%= f.text_field :content %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "작성", class: "btn btn-warning"%>
  <% end%>
</div>
<br>
<p><%= link_to '편집', edit_post_path(@post), class: "btn btn-primary" %>
<%= link_to '뒤로가기', posts_path, class: "btn btn-secondary" %></p>
</div>